*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    background-color: #D4D4D2;
}
.box{
    background-color:#17181A ;
    color: #666767;
    margin: 50px auto;
    padding: 10px 25px 20px 25px;
    width: fit-content;
    border-radius: 30px;

}
.box input{
    background-color:#17181A;
    border: none;
    outline: none;
    height: 80px;
    width: 230px;
    font-size: 40px;
    color:#D4D4D2;
 
    text-align: right;
}
.innerBox{
    display: flex;
    gap: 10px;
}
.round{
    margin-top: 10px;
    background-color:#505050 ;
    height: 50px;
    width: 50px;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: box-shadow 0.3s ease;

}
.round:hover{
    background-color: #FF9500;
    color: #17181A;

  box-shadow: 0 10px 30px rgba(255, 149, 0, 0.65);
}
.color{
    background-color: #FF9500;
    color:#D4D4D2;
}
.color:hover{
    background-color: #D4D4D2;
    color: #17181A;
}
.clear{
    background-color: #D4D4D2;
    color: #17181A;
}
.zero{
    width: 110px;
    border-radius: 30px;
}
button{
    border: none;
    outline: none;
    color: #D4D4D2;
    
}
button:hover{
    border: 1px solid #17181A;
}
